<h1 class="title">Angular Router</h1>
<nav>
  <!-- <a [routerLink]="['/crisis-center', { foo: 'foo' }]">Crisis Center</a> -->

  <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
  <!-- <a routerLink="/superheroes" routerLinkActive="active">Heroes</a> -->
  <a [routerLink]="['/heroes']" routerLinkActive="active">Heroes</a>

  <a routerLink="/admin" routerLinkActive="active">Admin</a>
  <!-- <a routerLink="/login" routerLinkActive="active">Login</a> -->
  <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>
  <a [routerLink]="['rxjs-cookbook']" routerLinkActive="active">rxjs-cookbook</a>
  <a [routerLink]="['form-cook']" routerLinkActive="active">form-cook</a>
  <a [routerLink]="['form-hero']" routerLinkActive="active">form-hero</a>
  <a [routerLink]="['hero-form']" routerLinkActive="active">HeroForm</a>
</nav>
<div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
<router-outlet name="popup"></router-outlet>
